/*REGISTRO*/
body {
	background-color: #FFFFFF;
	margin: 0px;
}
#contenedor_b {
	width: 98%;
	height: 100%;
	padding-left: 1%;
	padding-right: 1%;
}

#encabezado_b {
	width: 98%;
	height: 50px;
	clear: right;
	padding-bottom:10px;
}
#boton_b {
	width: 98%;
	height: 24px;
	clear: right;
	padding-bottom:0px;
}
#margen_verde {
	width: 98%;
	height: 20px;
	background-color:#A9D246;
	top: 0px;
	border-right: thin solid #ffffff;
	border-left: thin solid #A9D246;
	position: relative;
}
#contenido {
	width: 98%;
	border-right: thin solid #A9D246;
	border-left: thin solid #A9D246;
	border-bottom: thin solid #A9D246;
	padding-top: 10px;
	height: auto;
}
h2 {
	background-image: url(/FO_IMGS/images/mobi/logo-header.gif);
	text-indent: -9999px;
	display: block;
	height: 100%;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.tit_r{
	width: 90%;
	float: none;
	display:block;
	margin: 2%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color:#000000;
	font-weight: bold;
}
#mod_reg{
	width: 93%;
	clear: both;
	border: thin solid #A9D246;
	float: none;
	display:block;
	margin-bottom: 10px;
	margin-left: 2%;
	overflow: hidden;
	background-color: #DFEFBE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}
#mod_reg_2{
	width: 90%;
	clear: both;
	border: thin solid #A9D246;
	float: none;
	display:block;
	margin-bottom: 10px;
	margin-left: 2%;
	padding:5px;
	overflow: hidden;
	background-color: #DFEFBE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
}
.campos_reg{
	width: 98%;
	border-bottom: thin dashed #A9D246;
	float: none;
	display:block;
	height: auto;
	padding:3px;
	overflow: hidden;
}
.iz_campos_reg{
	width: 25%;
	float: left;
	display:block;
	margin: 1%;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align: right;
	height: auto;
}
.iz_campos_reg_1{
	width: 20%;
	float: left;
	display:block;
	margin: 1%;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align: right;
}
.iz_campos_reg_2{
	width: 35%;
	float: left;
	display:block;
	margin: 1%;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align: right;
}
.ult_campo_reg{
	width: 98%;
	float: none;
	display:block;
	color:#000000;
	text-align: left;
	padding: 3px;
}
.bt_volver_r{
	width: 71px;
	float: left;
	display: block;
	overflow: hidden;
}
.bt_guardar_r{
	width: 71px;
	float: right;
	display: block;
	overflow: hidden;
}
.bt_final_r{
	width: 93%;
	float: none;
	display: block;
	height: 50px;
	overflow: hidden;
	margin-left: 2%;
}
div.top-right-corner_b {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 0;
	top: 0px; 
	right: 0px;
}
div.top-right-inside_b {
	position: relative;
	font-size: 150px;
	font-family: arial;
	color: #A9D246;
	line-height: 40px;
	z-index: 0;
	left: -25px;
}
div.top-right-corner_b2 {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	/*overflow: hidden; problem*/
	z-index: 0;
	top: 0px; 
	right: 0px;
}
div.top-right-inside_c {
	position: relative;
	font-size: 150px;
	font-family: arial;
	color: #FF7701;
	line-height: 40px;
	z-index: 0;
	left: -25px;
}