body {
	background-color: #DCDCDC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; /*line-height: 24px;*/
	color: #336699;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

/*** TABLA ***/
.tabla
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color:#DEDEDE;
	/*width:98%;*/
}
.tabla td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color:#FFFFFF;
}
.tabla th
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color:#DEDEDE;
}

/**********************************
	elementos no imprimibles
***********************************/
#boton_print
{
	display:none;
}
#loading
{
	display:none;
}

