HTML {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OBJECT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ABBR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ACRONYM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DFN {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
Q {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TBODY {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TFOOT {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
THEAD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
article {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
aside {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
dialog {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
figure {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
footer {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
header {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
hgroup {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
nav {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
section {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-SIZE: 100%; VERTICAL-ALIGN: baseline; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
dialog {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
header {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
section {
	DISPLAY: block
}
BODY {
	LINE-HEIGHT: 1
}
A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TABLE {
	VERTICAL-ALIGN: middle
}
TD {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
BLOCKQUOTE:before {
	CONTENT: ""
}
BLOCKQUOTE:after {
	CONTENT: ""
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
BLOCKQUOTE {
	QUOTES: """"
}
Q {
	QUOTES: """"
}
:focus {
	OUTLINE-WIDTH: 0px
}
INS {
	TEXT-DECORATION: none
}
DEL {
	TEXT-DECORATION: line-through
}
BUTTON:unknown {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.modulo_grilla_fila {
	WIDTH: 570px; FLOAT: left
}
.modulo_producto_vertical {
	BORDER-BOTTOM: #e3e1dc 1px solid; WIDTH: 188px; HEIGHT: 280px
}
.modulo_producto_horizontal {
	BORDER-BOTTOM: #e3e1dc 1px solid; MARGIN-TOP: 3px; WIDTH: 560px; MARGIN-BOTTOM: 0px; HEIGHT: 110px
}
.modulo_foto_180 {
	TEXT-ALIGN: center; WIDTH: 170px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 130px
}
.modulo_descripcion_vertical {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 50px; FONT-SIZE: 11px
}
.txt_marca {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 20px; COLOR: #1fa22e; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.txt_nombre {
	LINE-HEIGHT: 14px; WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 30px; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.txt_nombre A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.txt_nombre A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.txt_descripcion {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 15px; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.txt_descripcion A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.txt_descripcion A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.txt_precio {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 20px; COLOR: #b53137 !important; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.txt_promo {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px; COLOR: #1fa22e !important; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.txt_precio_medida {
	WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 25px; COLOR: #666; FONT-SIZE: 11px
}
.modulo_cantidad {
	PADDING-LEFT: 40px; WIDTH: 130px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 22px; COLOR: #666; FONT-SIZE: 11px
}
.icono_notas {
	WIDTH: 40px; FLOAT: left; HEIGHT: 22px
}
.icono_notas_h {
	WIDTH: 22px; PADDING-RIGHT: 17px; FLOAT: right; HEIGHT: 22px; PADDING-TOP: 8px
}
.icono_notas_v {
	PADDING-LEFT: 17px; WIDTH: 22px; HEIGHT: 22px
}
.form_cantidad {
	WIDTH: 50px; FLOAT: left; HEIGHT: 20px
}
.form_cantidad_style {
	BORDER-BOTTOM: #e3e1dc 1px solid; BORDER-LEFT: #e3e1dc 1px solid; WIDTH: 32px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: #e3e1dc 1px solid; BORDER-RIGHT: #e3e1dc 1px solid
}
.modulo_agregar_mas {
	WIDTH: 10px; FLOAT: left; HEIGHT: 10px
}
.modulo_quitar_menos {
	WIDTH: 10px; FLOAT: left; HEIGHT: 10px
}
.modulo_mas_menos {
	WIDTH: 15px; FLOAT: left; HEIGHT: 20px
}
.bt_agregar_carro {
	PADDING-LEFT: 10px; WIDTH: 62px; FLOAT: left; HEIGHT: 22px
}
.barra_filtros_terminal {
	BORDER-BOTTOM: #e3e1dc 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 5px; WIDTH: 570px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: auto; PADDING-TOP: 5px
}
.modulo_buscar_por {
	TEXT-ALIGN: left; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666; FONT-SIZE: 11px
}
.form_buscar_por {
	WIDTH: 110px; FLOAT: left; HEIGHT: 25px
}
.form_buscar_por_style {
	BORDER-BOTTOM: #e3e1dc 1px solid; BORDER-LEFT: #e3e1dc 1px solid; WIDTH: 100px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 20px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: #e3e1dc 1px solid; BORDER-RIGHT: #e3e1dc 1px solid
}
.boton_bloque {
	BACKGROUND-IMAGE: url(/FO_IMGS/img/estructura/paso2/bt_bloque.gif); MARGIN-TOP: 1px; WIDTH: 64px; HEIGHT: 20px; MARGIN-RIGHT: 5px
}
A.boton_bloque {
	BACKGROUND-IMAGE: url(/FO_IMGS/img/estructura/paso2/bt_bloque.gif); TEXT-INDENT: -9999px; WIDTH: 64px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 20px
}
A.boton_bloque:hover {
	
}
.boton_lista {
	BACKGROUND-IMAGE: url(/FO_IMGS/img/estructura/paso2/bt_lista.gif); MARGIN-TOP: 1px; WIDTH: 64px; HEIGHT: 20px
}
A.boton_lista {
	BACKGROUND-IMAGE: url(/FO_IMGS/img/estructura/paso2/bt_lista.gif); TEXT-INDENT: -9999px; WIDTH: 64px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 20px
}
A.boton_lista:hover {
	
}
.offer_tag_image {
	BACKGROUND-IMAGE: url(../../images/waitrose/wrbrowse_sprite.png); WIDTH: 35px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -2260px top; HEIGHT: 35px; -background-image: url('../../images/waitrose/wrbrowse_sprite-ie6.png')
}
.txt_descripcion_h {
	TEXT-ALIGN: left; WIDTH: 170px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 15px; COLOR: #666; FONT-SIZE: 11px
}
.txt_promo_h {
	TEXT-ALIGN: center; WIDTH: 100%; HEIGHT: 30px; COLOR: #1fa22e !important
}
.txt_promo_v {
	WIDTH: 170px; FLOAT: left; HEIGHT: 30px; COLOR: #1fa22e !important; PADDING-TOP: 5px
}
.modulo_foto_130_h {
	TEXT-ALIGN: center; WIDTH: 120px; MARGIN-BOTTOM: 10px; FLOAT: left; HEIGHT: 100px
}
.modulo_foto_80_v {
	TEXT-ALIGN: center; WIDTH: 100%; FLOAT: left; HEIGHT: 80px
}
.modulo_descripcion_h {
	TEXT-ALIGN: left; MARGIN-TOP: 3px; WIDTH: 200px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 50px; FONT-SIZE: 11px
}
.modulo_descripcion_v {
	TEXT-ALIGN: center; WIDTH: 180px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 85px; FONT-SIZE: 10px
}
.txt_marca_h {
	WIDTH: 100%; FLOAT: left; HEIGHT: 15px; COLOR: #1fa22e; FONT-WEIGHT: bold
}
.txt_marca_v {
	WIDTH: 170px; FLOAT: left; HEIGHT: 20px; COLOR: #1fa22e; FONT-WEIGHT: bold
}
.txt_nombre_h {
	LINE-HEIGHT: 13px; WIDTH: 100%; FLOAT: left; HEIGHT: 47px; COLOR: #666; TEXT-DECORATION: none
}
.txt_nombre_h A {
	LINE-HEIGHT: 14px; COLOR: #666; TEXT-DECORATION: none
}
.txt_nombre_h A:hover {
	LINE-HEIGHT: 14px; COLOR: #666; TEXT-DECORATION: underline
}
.txt_nombre_v {
	LINE-HEIGHT: 14px; WIDTH: 170px; FLOAT: left; HEIGHT: 30px; COLOR: #666; TEXT-DECORATION: none
}
.txt_nombre_v A {
	LINE-HEIGHT: 14px; COLOR: #666; TEXT-DECORATION: none
}
.txt_nombre_v A:hover {
	LINE-HEIGHT: 14px; COLOR: #666; TEXT-DECORATION: underline
}
.modulo_precio_h {
	TEXT-ALIGN: left; MARGIN-TOP: 8px; PADDING-LEFT: 5px; WIDTH: 115px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; HEIGHT: 40px; FONT-SIZE: 11px
}
.modulo_precio_v {
	TEXT-ALIGN: center; WIDTH: 180px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: left; FONT-SIZE: 10px
}
.txt_precio_h {
	WIDTH: 100%; HEIGHT: 16px; COLOR: #b53137 !important; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.txt_precio_medida_h {
	WIDTH: 100%; HEIGHT: 16px; COLOR: #666; FONT-SIZE: 10px
}
.modulo_cantidad_h {
	MARGIN-TOP: 8px; WIDTH: 110px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 22px; COLOR: #666; FONT-SIZE: 11px
}
.modulo_cantidad_v {
	WIDTH: 115px; PADDING-RIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; FLOAT: right; HEIGHT: 22px; COLOR: #666; FONT-SIZE: 10px
}
.promo_h {
	Z-INDEX: 10; POSITION: relative; TOP: -100px; LEFT: -40px
}
.promo_v {
	Z-INDEX: 10; POSITION: relative; TOP: -70px; LEFT: -45px
}
#lista_productos UL {
	LIST-STYLE-TYPE: none
}
#lista_productos .buttons {
	MARGIN-BOTTOM: 20px
}
#lista_productos .list LI {
	WIDTH: 100%
}
#lista_productos .grid LI {
	WIDTH: 181px; FLOAT: left
}
.page_navigation {
	
}
.alt_page_navigation {
	
}
.page_navigation A {
	BORDER-BOTTOM: #e3e1dc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e3e1dc 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; WIDTH: 20px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; COLOR: #1fa22e; FONT-SIZE: 11px; BORDER-TOP: #e3e1dc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e3e1dc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.alt_page_navigation A {
	BORDER-BOTTOM: #e3e1dc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e3e1dc 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 5px; WIDTH: 20px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 20px; COLOR: #1fa22e; FONT-SIZE: 11px; BORDER-TOP: #e3e1dc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #e3e1dc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
.page_navigation A:link {
	BACKGROUND-COLOR: #d5ebad; TEXT-DECORATION: none
}
.alt_page_navigation A:link {
	BACKGROUND-COLOR: #d5ebad; TEXT-DECORATION: none
}
.page_navigation A:hover {
	BACKGROUND-COLOR: #d5ebad; COLOR: #1fa22e; TEXT-DECORATION: none
}
.alt_page_navigation A:hover {
	BACKGROUND-COLOR: #d5ebad; COLOR: #1fa22e; TEXT-DECORATION: none
}
.page_navigation A:active {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #d5ebad; WIDTH: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ccc 1px solid
}
.alt_page_navigation A:active {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #d5ebad; WIDTH: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 11px; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #ccc 1px solid
}
.active_page {
	BACKGROUND-COLOR: white !important; COLOR: black !important
}
.cantidad_por_pagina A:active {
	FONT-WEIGHT: bold
}
