.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
	
	/*+ 20121206 Modificar diseño página "Mis Listas FPenalozaP*/
	border: 0px solid #ccc;
	/*-20121206 Modificar diseño página "Mis Listas FPenalozaP*/
	
/*	background: #999999 url(images/ui-bg_inset-hard_75_999999_1x100.png) 50% 50% repeat-x;*/
	font-weight: bold;
	color: #666;
	position: relative;

	
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
	color: black;
	font-weight:bold;
	text-decoration: none;

	
}


.accordion_toggle {
/*	background-image: url(/FO_IMGS/img/estructura/paso1/cerrado.gif);*/
/*	background-repeat: no-repeat;
	background-position: left bottom;
	text-indent: 20px;
	display: block;
	height: 20px;
	width: 162px;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	cursor: pointer;
	line-height: 20px;*/
	
	float:left;
	width:142px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CCC;
/*	height: 750px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
/*	font-weight: bold;*/
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: white;
	background:#FFFFFF;
	border: 0px solid #ccc;
	
	
}
.accordion_toggle_active {
	/*
  background-image: url(/FO_IMGS/img/estructura/paso1/abierto.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	text-indent: 30px;
	display: block;
	height: 20px;
	width: 162px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	cursor: pointer;
	line-height: 20px;*/
	
	float:left;
	width:130px;
	font-family: Arial, Helvetica, sans-serif;
/*	font-weight:bold;*/
	font-size: 18px;
	color: #666;
	height: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #CCC;
}

#seleccionar_todos  {
  float: left;
	width: 100%;
	height: 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	background-color: #EEE;
	margin-top: 20px;
}
	
.tit_tb2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	font-weight: normal;
}
.tit_listas{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1FA22E;
	text-indent: 12px;
	line-height: 28px;
}

.msj_vacio{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999999;
	text-indent: 28px;
	font-weight:bold;
	padding: 3px;
}

 a:hover {
color: #1FA22E;
text-decoration: none;
}

 a:link {
color: #ccc;
text-decoration: none;
}