
/* CSS Document para Buscador */

.buscador_header {
	float: left;
	height: 70px;
	width: 360px;
	padding-top: 25px;
	padding-left: 20px;
}
.fondo_buscador {
	float: left;
	height: 57px;
	width: 350px;
	background-image: url(../topcategory_10001_40000000577_-5_on_files/fondo_buscador.jpg);
}
.form_buscador1 {
	float: left;
	height: 30px;
	width: 160px;
	padding-top: 15px;
	padding-left: 12px;
}
.input_buscador {
	float: left;
	width: 160px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666;
	border: solid 1px #FFF;
	height: 28px;
}
.bt_ir_buscador {
	float: left;
	height: 28px;
	width: 35px;
	padding-top: 15px;
	background-image: url(../topcategory_10001_40000000577_-5_on_files/ir_buscador_header.gif);
	background-position: 0px 14px;
	background-repeat: no-repeat;
}
a.bt_ir_buscador:hover {
	background-position: 0px -50px;
}

