<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- FRAMEWORK -->
    <appender name="FILE_FRAMEWORK" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File"   value="${fo.was.install.path}/profiles/default/logs/FO/FrameworkMQ.log" />
      <param name="DatePattern" value="'.'yyyy-MM-dd" />	    	
      <layout class="org.apache.log4j.PatternLayout">
	  	<param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss,SSS}][%t] %p - %m%n"/>
      </layout>	    
	</appender>

	<!-- FIN FRAMEWORK -->
    
    <appender name="FILE_TARJETA_PARIS" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"   value="${fo.was.install.path}/profiles/default/logs/FO/tarjetaParis.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />	    	
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss}] %p - %m%n"/>
        </layout>	    
    </appender>

    <appender name="FILE_TARJETA_CAT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"   value="${fo.was.install.path}/profiles/default/logs/FO/tarjetasCAT.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />	    	
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss}] %p - %m%n"/>
        </layout>	    
    </appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss}] %p - %m%n"/>
        </layout>		
    </appender>
    
    <appender name="FILE_VALIDA_CTA_COMPRA" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"   value="${fo.was.install.path}/profiles/default/logs/FO/validaCuentaCompra.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />      
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss}] %p - %m%n"/>
        </layout>     
    </appender>
    
    <appender name="FILE_VALIDA_CTA_LOGON" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"   value="${fo.was.install.path}/profiles/default/logs/FO/validaCuentaLogon.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />      
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{dd/MMM/yyyy HH:mm:ss}] %p - %m%n"/>
        </layout>     
    </appender>
    
    
    <!-- Consulta Saldo Paris-->
    <category name="cl.jumbo.tarjetas.process.TarjetaParisProcess">
        <priority value="info"/>
        <appender-ref ref="FILE_TARJETA_PARIS"/>
    </category>

    <!-- Consulta Saldo CAT-->
    <category name="cl.jumbo.tarjetas.process.TarjetaCATProcess">
        <priority value="info"/>
        <appender-ref ref="FILE_TARJETA_CAT"/>
    </category>

    
    <!-- FRAMEWORK -->
	<category name="frameworkMQ">
	    <priority value ="DEBUG" />
	    <appender-ref ref="FILE_FRAMEWORK"/>
	</category>
	
    <!-- Valida Cuenta Compra -->
    <category name="cl.paris.validaCuenta.process.ValidaCuentaCompraProcess">
        <priority value="info"/>
        <appender-ref ref="FILE_VALIDA_CTA_COMPRA"/>
    </category>
	
	<!-- Valida Cuenta Logon -->
    <category name="cl.paris.validaCuenta.process.ValidaCuentaLogonProcess">
        <priority value="info"/>
        <appender-ref ref="FILE_VALIDA_CTA_LOGON"/>
    </category>
    
	<!-- FIN FRAMEWORK -->
    
    <category name="executors">
	    <priority value ="info" />
	    <appender-ref ref="STDOUT"/>
	</category>
	
    <root>
        <priority value="error"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>